* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
}
.reset-button {
    font-size: 18px;
    height: 33px;
    line-height: 10px;
    margin-top: 23px;
}
.win-lose-contaner {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);  
    border-radius: 10px;
    color: rgb(53, 70, 100);
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.22px;
    line-height: 18px;
    max-height: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;

}
header {
    padding: 40px;
    text-align: center;
    background-color: rgb(92, 161, 161);
    color: rgb(245, 205, 211);
    border-bottom: 33px rgb(80, 117, 83);


}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
section {
    flex: 0 auto;
    padding: 10px;
    margin-top: 53px;
    background-color: white;
    border-radius: 10px;

}
.word-guess {
    width: 58vw;
    height: 403px;

}
.results {
    width: 33px;
    height: 403px;
}
.card {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
    border: 1px solid rgb(202, 202, 241);
    border-radius: 10px;
    box-shadow: rgba(63, 65, 68, 2) 0 1px 2px 0,rgba(63, 65, 68, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;

}
 .word-blanks {
    line-height: 363px;

 }
 .l-font {
    font-size: 3.5em;
    text-align: center;
 }
  .timer {
    height: 240PX;
    padding: 11PX;
    color: azure;
    text-align: center;
    background: rgb(175, 175, 236)
   
  }
  .timer-text {
    padding: 55px;
  }
  @media screen and (max-width: 1183px) {
    main {
        flex-direction: column;

    }
     .word-guess,
     .results {
        width: 90vw;

     }
     section {
        background-attachment: white;
        margin: 20px auto;
        width: 92vw;
     }

  } 
  @media screen and (max-width: 505px){
    .l-font {
        font-size: 2em;

    }
    .reset-button {
        font-size: 12px;
        width: 20ox;
    }
    .timer {
        height: 200px;
    }
    
  }
    
  